{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="wrapper">
<div class="sb">
<div class="panel">AdminPanel</div>
<div class="adm_log">Admin: {{admin.login}}</div>
<div><a href="{{path('app_admin-users')}}">Users</a></div>
<div><a href="{{path('app_admin-forums')}}">Forums</a></div>
<div><a href="{{path('app_admin_subforums')}}">Subforums</a></div>
<div><a href="{{path('app_admin_topics')}}">Topics</a></div>
<div><a href="{{path('app_admin_comments')}}">Comments</a></div>
</div>
<div class="adm_content">
<div class="adm_form">
<form method="post" action="{{path('app_admin_save_subforum')}}">
<p><input type="text" name="new_subforum"></p>
<select name="parent">
{% for forum in forums%}
 <option value="{{forum.id}}">{{forum.keywords}}</option>
 {% endfor %}
</select>
<p><button type="submit" class="add_comm">Add</button></p>
</form>
</div>
</div>


</div>
{% endblock %}
