{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="wrapper">
<div class="sb">
<div class="panel">AdminPanel</div>
<div class="adm_log">Admin: {{admin.login}}</div>
<div><a href="{{path('app_admin-users')}}">Users</a></div>
<div><a href="{{path('app_admin-forums')}}">Forums</a></div>
<div><a href="{{path('app_admin_subforums')}}">Subforums</a></div>
<div><a href="{{path('app_admin_topics')}}">Topics</a></div>
<div><a href="{{path('app_admin_comments')}}">Comments</a></div>
</div>
<div class="adm_content">
<a href="{{path('app_admin_add_subforum')}}"><div class="add_btn">Add new</div></a>
<table>
 <tr>
  <th>ID</th>
  <th>PARENT_CATEGORY</th>
  <th>NAME</th>
  <th>EDIT</th>
 </tr>
 {% for subforum in subforums%}
 <tr>
 <td>{{subforum.id}}</td>
  <td>{{subforum.getParentId.keywords}}</td>
  <td>{{subforum.subforum}}</td>
  <td class="green"><a href="{{path('app_admin_edit_subforum', {'id': subforum.id})}}"> Edit </td>
 </tr>
 {% endfor %}
</table>
</div>


</div>
{% endblock %}
