{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="wrapper">
<div class="sb">
<div class="panel">AdminPanel</div>
<div class="adm_log">Admin: {{admin.login}}</div>
<div><a  href="{{path('app_admin-forums')}}">Users</a></div>
<div><a  href="{{path('app_admin-forums')}}">Forums</a></div>
<div><a  href="{{path('app_admin_subforums')}}">Subforums</a></div>
<div><a  href="{{path('app_admin_topics')}}">Topics</a></div>
<div><a  href="{{path('app_admin_comments')}}">Comments</a></div>
</div>
<div class="adm_content">
<table>
 <tr>
  <th>ID</th>
  <th>EMAIL</th>
  <th>LOGIN</th>
  <th>DELETE</th>
 </tr>
 {% for user in users%}
 <tr>
 <td>{{user.id}}</td>
  <td>{{user.email}}</td>
  <td>{{user.login}}</td>
  <td class="red"><a href="{{path('app_user_delete', {'id': user.id})}}" > Delete </td>
 </tr>
 {% endfor %}
</table>
</div>


</div>
{% endblock %}
